.mainContainer {
  height: 100vh;
  overflow-y: hidden;
}

#theRow {
  height: 100vh;
  margin: 0;
}

.count {
  font-family: "Overpass Mono";
  font-size: 15px;
  color: #fff;
}

.badge-count {
  background-color: #fff;
  margin-left: 8px;
  font-size: 14px !important;
  color: #f46c63;
}

#sidebarColumn {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
  padding-right: 0 !important;
  padding-left: 0;
}

#mapColumn {
  background-image: url("../../images/map.png") !important;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

/* Navbar */
.navbar.navbar-light {
  background-color: #f46c63 !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
}

.navbar-logo {
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100px;
}

.pin {
  cursor: pointer;
  height: 250px;
  width: auto;
  position: relative;
  left: 100px;
  top: 150px;
}

.pin:hover {
  transform: scale(1.05);
}

.row {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.shopItem {
  font-family: "Overpass Mono";
  padding-top: 32px !important;
}

.shopItem h5 {
  font-weight: bold;
}

.shopItem p {
  color: #c1c1c1;
  font-size: 13px;
}
.nav-link.active {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  color: rgb(244, 108, 99) !important;
  border-bottom: 2px solid rgb(244, 108, 99) !important;
}

.nav-link {
  font-family: "Overpass Mono";
  font-weight: bold;
  margin-top: 22px;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 1px solid #c1c1c1 !important;
  color: #c1c1c1;
}

.nav-link:hover {
  color: rgb(244, 108, 99) !important;
  border-bottom: 2px solid rgb(244, 108, 99) !important;
}

.about a {
  color: rgb(244, 108, 99) !important;
}

.tab-content {
  padding-top: 8px;
  padding-left: 8px;
  font-family: "Overpass Mono";
}

.stats h1 {
  font-family: "Overpass Mono";
  font-weight: bold;
  margin-bottom: 0;
}

.stats p {
  font-family: "Overpass Mono";

  color: #c1c1c1;
}

.btn-primary {
  margin-top: 7.5px;
  background-color: rgb(244, 108, 99) !important;
  border-color: transparent !important;
  border-radius: 45px !important;
  box-sizing: border-box !important;
  color: rgb(255, 255, 255) !important;
  cursor: pointer !important;
  font-size: 15px !important;
  height: 46px;
  font-weight: 600 !important;
  letter-spacing: 0.7px !important;
  padding: 10px 30px 10px 30px !important;
  text-align: center !important;
  text-decoration-line: none !important;
  text-decoration-style: solid !important;
  text-transform: uppercase !important;
}

.btn-disabled {
  cursor: not-allowed !important;
  margin-top: 7.5px;
  background-color: rgb(244, 108, 99) !important;
  border-color: transparent !important;
  border-radius: 45px !important;
  box-sizing: border-box !important;
  height: 46px;
  color: rgb(255, 255, 255) !important;
  cursor: pointer !important;
  font-size: 15px !important;
  font-weight: 600 !important;
  letter-spacing: 0.7px !important;
  padding: 10px 30px 10px 30px !important;
  text-align: center !important;
  text-decoration-line: none !important;
  text-decoration-style: solid !important;
  text-transform: uppercase !important;
  opacity: 0.4;
}

.btn-disabled:hover {
  cursor: not-allowed !important;
}

#myBtn {
  display: none;
}

.hamburger {
  display: block;
}

.cross {
  display: none;
}

@media screen and (max-width: 720px) {
  .navbar {
    padding: 8px !important;
  }

  .count {
    padding-top: 10px;
  }

  .navbar-logo {
    width: 75px;
  }
  #sidebarColumn {
    display: none;
  }

  .pin {
    height: 150px;
  }

  #myBtn {
    display: block;
  }

  .cross {
    display: none;
  }

  .toggleHamburger {
    display: none !important;
  }

  .toggleCross {
    display: block !important;
  }

  #myBtn {
    background: url("/src/images/voi-hamburger-menu.png");
  }

  .image {
    padding: 0px !important;
  }

  .smallScreenTab {
    display: block !important;
  }

  .smallScreenMap {
    display: none !important;
  }
}
