.pin {
  cursor: pointer;
  height: 250px;
  width: auto;
  position: relative;
  left: 100px;
  top: 150px;
}

body {
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.pin:hover {
  transform: scale(1.05);
}

#map {
  background-image: url("../../images/map.png") !important;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.navbar.navbar-light {
  background-color: #f46c63 !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
}

.sidebar {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
  height: 100vh;
  padding-right: 0 !important;
}

.container {
  background-color: #fff;
  height: 100vh;
}

.row {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.shopItem {
  font-family: "Overpass Mono";
  padding-top: 32px !important;
}

.shopItem h5 {
  font-weight: bold;
}

.shopItem p {
  color: #c1c1c1;
}
.nav-link.active {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  color: rgb(244, 108, 99) !important;
  border-bottom: 2px solid rgb(244, 108, 99) !important;
}

.nav-link {
  font-family: "Overpass Mono";
  font-weight: bold;
  margin-top: 22px;

  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 1px solid #c1c1c1 !important;
  color: #c1c1c1;
}

.nav-link:hover {
  color: rgb(244, 108, 99) !important;
  border-bottom: 2px solid rgb(244, 108, 99) !important;
}

.about a {
  color: rgb(244, 108, 99) !important;
}

.tab-content {
  padding: 16px !important;
  font-family: "Overpass Mono";
}

.stats h1 {
  font-family: "Overpass Mono";
  font-weight: bold;
  margin-bottom: 0;
}

.stats p {
  font-family: "Overpass Mono";

  color: #c1c1c1;
}

.btn-primary {
  margin-top: 7.5px;
  background-color: rgb(244, 108, 99) !important;
  border-color: transparent !important;
  border-radius: 45px !important;
  box-sizing: border-box !important;
  color: rgb(255, 255, 255) !important;
  cursor: pointer !important;
  font-size: 20px !important;
  height: 50px;
  font-weight: 600 !important;
  letter-spacing: 0.7px !important;
  padding: 10px 25px 10px 25px !important;
  text-align: center !important;
  text-decoration-line: none !important;
  text-decoration-style: solid !important;
  text-transform: uppercase !important;
}

.btn-disabled {
  cursor: not-allowed !important;
  margin-top: 7.5px;
  background-color: rgb(244, 108, 99) !important;
  border-color: transparent !important;
  border-radius: 45px !important;
  box-sizing: border-box !important;
  height: 50px;
  color: rgb(255, 255, 255) !important;
  cursor: pointer !important;
  font-size: 20px !important;
  font-weight: 600 !important;
  letter-spacing: 0.7px !important;
  padding: 10px 25px 10px 25px !important;
  text-align: center !important;
  text-decoration-line: none !important;
  text-decoration-style: solid !important;
  text-transform: uppercase !important;
  opacity: 0.4;
}

.btn-disabled:hover {
  cursor: not-allowed !important;
}

@media screen and (max-width: 1000px) {
  .tab {
    display: none !important;
  }

  .sidebar {
    height: auto;
  }
}
